<%- include('header') %>
<div class="container">
    <h1><%= title %></h1>
     <a href="/profile">Profile</a>

</div>

<%- include('Summary', { account: accounts.savings }) %>
<%- include('Summary', { account: accounts.checking }) %>
<%- include('Summary', {account: accounts.credit}) %>
<br><a href="/transfer">Transfer</a>

<%- include('footer') %>